
:global .dialog {
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    position: relative;;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 6px;  
    background: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.dialog-content-padding-mixin {
    padding:  1em;
}

.header {
    flex: 0 0 auto;
    color: #fff;
    background: #79bf62;
    display: flex;
    .dialog-content-padding-mixin;
}

.headerTitle {
    flex: 1 1 100%;
}

.headerClose {
    flex: 0 0 auto;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

.body {
    flex: 1 1 auto;
    overflow: auto;
    .dialog-content-padding-mixin;
}

.footer {
    flex: 0 0 auto;
    .dialog-content-padding-mixin;
}
