@field-name-width: 130px;
@primary-text-color: #959595;
@secondary-text-color: #b1b1b1 ;
@invalid-color: #e56f4b;
@control-border-radius: 4px;

:global .payment-form{
    color: @primary-text-color;  
}

.field {
    display: flex;
    margin-bottom: 1.5em;
}

.fieldName {
    width: @field-name-width;
    padding-top: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
}

.fieldInput {
    flex: 1 1 100%;
}

.fieldComment {
    color: @secondary-text-color;  
    font-size: 0.9em;
    margin-top: 1em;
}

.input {
    width: 100%;
    border: 1px solid @secondary-text-color;
    border-radius: @control-border-radius;
    padding: 0.5em;
    box-sizing: border-box;

    &:invalid {
        border: 1px solid @invalid-color;
    }
}
.cardNumber {
    display: flex;
}

.visaIcon {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    padding: 0 1em;
    flex-basis: 0;
    height: 2em;
}

.shortInput {
    width: 50px;
}

.slashDivider {
    color: @secondary-text-color;
    padding: 0 0.5em;
    display: inline;
}

.welcomeMessage {
    padding-bottom: 1em;
    border-bottom: 1px solid @secondary-text-color;
    margin-bottom: 1em;;
}

.validationMessage {
    background: #fffbed;
    color: @invalid-color;
    border-radius: @control-border-radius;
    margin-bottom: 1em;
    padding: 1em;
}


.buttonsBlock {
    padding-left: @field-name-width;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    border-radius: @control-border-radius;
    min-width: 130px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;

}

.verifyBtn {
    .btn;
    background: #4786cd;
    cursor: pointer;
}

.verifiedBtn {
    .btn;
    background: #79bf62;
}
.verifiedIcon {
    height: 1.2em;
    vertical-align: text-bottom;
    padding-right: 0.2em;
}





