body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.index {
  width: 100%;
  max-width: 500px; 
  margin: 50px auto;
  padding: 10px;
  background: #333;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
}


.openDlgBtn {
  padding: 1em;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
